<!--  Subscribe section -->
	<section class="signup-section" id="signup">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5">
				<div class="col-md-10 col-lg-8 mx-auto text-center">
					<i class="fa fa-paper-plane fa-2x mb-2 text-white"></i>
					<h2 class="text-white mb-5">Subscribe to receive updates!</h2>
					<!-- * * * * * * * * * * * * * * *-->
					<!-- * * SB Forms Contact Form * *-->
					<!-- * * * * * * * * * * * * * * *-->
					<!-- This form is pre-integrated with SB Forms.-->
					<!-- To make this form functional, sign up at-->
					<!-- https://startbootstrap.com/solution/contact-forms-->
					<!-- to get an API token!-->
					<form class="form-signup" id="contactForm"
						data-sb-form-api-token="API_TOKEN">
						<!-- Email address input-->
						<div class="row input-group-newsletter">
							<div class="col">
								<input class="form-control" id="emailAddress" type="email"
									placeholder="Enter email address..."
									aria-label="Enter email address..."
									data-sb-validations="required,email" />
							</div>
							<div class="col-auto">
								<button type="submit" class="site-btn">Subscribe</button>
							</div>
						</div>
						<div class="invalid-feedback mt-2"
							data-sb-feedback="emailAddress:required">An email is
							required.</div>
						<div class="invalid-feedback mt-2"
							data-sb-feedback="emailAddress:email">Email is not valid.</div>
						<!-- Submit success message-->
						<!---->
						<!-- This is what your users will see when the form-->
						<!-- has successfully submitted-->
						<div class="d-none" id="submitSuccessMessage">
							<div class="text-center mb-3 mt-2 text-white">
								<div class="fw-bolder">Form submission successful!</div>
								To activate this form, sign up at <br /> <a
									href="https://startbootstrap.com/solution/contaFct-forms">https://startbootstrap.com/solution/contact-forms</a>
							</div>
						</div>
						<!-- Submit error message-->
						<!---->
						<!-- This is what your users will see when there is-->
						<!-- an error submitting the form-->
						<div class="d-none" id="submitErrorMessage">
							<div class="text-center text-danger mb-3 mt-2">Error
								sending message!</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div class="container" id="contact">
			<!-- Contact-->
			<section class="contact-section bg-black">
				<div class="container px-4 px-lg-5">
					<div class="row gx-4 gx-lg-5">
						<div class="col-md-4 mb-3 mb-md-0">
							<div class="card py-4 h-100">
								<div class="card-body text-center">
									<span class="material-icons" style="color: #EDBB0E"> map
									</span>
									<h4 class="text-uppercase m-0" style="color: black;">Address</h4>
									<hr class="my-4 mx-auto" />
									<div class="small text-black-50">Paris 75000, France</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-3 mb-md-0">
							<div class="card py-4 h-100">
								<div class="card-body text-center">
									<span class="material-icons" style="color: #EDBB0E">
										mail </span>
									<h4 class="text-uppercase m-0" style="color: black;">Email</h4>
									<hr class="my-4 mx-auto" />
									<div class="small text-black-50">
										<a>contact@brp.com</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-3 mb-md-0">
							<div class="card py-4 h-100">
								<div class="card-body text-center">
									<span class="material-icons" style="color: #EDBB0E">
										call </span>
									<h4 class="text-uppercase m-0" style="color: black;">Phone</h4>
									<hr class="my-4 mx-auto" />
									<div class="small text-black-50">(+33) 06-00-00-00-00</div>
								</div>
							</div>
						</div>

					</div>

				</div>
				<div class="col-md-3 mb-3 mb-md-0" id="reseau">
					<div class="card py-4 h-100">
						<div class="card-body text-center" id="reseau-position">
							<div class="social d-flex justify-content-center">
								<a class="mx-2" href="#!"><i class="fa-brands fa-twitter"></i></a>
								<a class="mx-2" href="#!"><i class="fa-brands fa-facebook-f"></i></a>
								<a class="mx-2" href="#!"><i class="fa-brands fa-github"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="row">
				<div class="col-lg-12">
					<div class="footer__copyright">
						<div class="footer__copyright__text">
							<p style="color: rgb(255, 255, 255)">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>
								All rights reserved
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
						<div class="footer__copyright__payment">
							<img src="img/payment-item.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->