	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a th:href="@{/}" ><img th:src="@{/img/logo_fondblanc.png}" alt="logo"
				width="60px" height="60px"></a>
		</div>
		<div class="humberger__menu__cart">

		</div>
		<div class="humberger__menu__widget">
			<div class="header__top__right__language">

			</div>

		</div>
		<nav class="humberger__menu__nav mobile-menu">
			<ul>
				<li class="active"><a th:href="@{/}" >Home</a></li>
				<li><a href="">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a th:href="@{/login}" id="titre_login">Login / Sign Up</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>

		<div class="humberger__menu__contact">

		</div>
	</div>
	<!-- Humberger End -->

	<!-- Header Section Begin -->
	<header class="header">

		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a th:href="@{/}" ><img th:src="@{/img/Image3.png}"
							alt="logo" width="60px" height="60px"></a>
					</div>
				</div>
				<div class="col-lg-6">
					<nav class="header__menu">
						<ul>
							<li class="active"><a th:href="@{/}" >Home</a></li>
							<li><a href="">About</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<nav class="header__menu">
						<ul>
							<li><a th:href="@{/login}" id="titre_login">Login / Sign
									Up</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->