<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
	<div class="humberger__menu__logo">
		<a th:href="@{/accueil-logged}"><img th:src="@{/img/logo_fondblanc.png}"
			alt="logo" width="60px" height="60px"></a>
	</div>
	<div class="humberger__menu__cart">

	</div>
	<div class="humberger__menu__widget">
		<div class="header__top__right__language">

		</div>

	</div>
	<nav class="humberger__menu__nav mobile-menu">
		<ul>
			<li class="active"><a th:href="@{/accueil-logged}">Home</a></li>
			<li><a th:href="@{/listbook}">Library</a>
				<ul class="header__menu__dropdown">
					<li><a th:href="@{/addbook}">Add Book</a></li>
					<li><a th:href="@{/listbook}">Your Book</a></li>
				</ul></li>
			<li><a th:href="@{/forum}">Forum</a></li>
			<!--                 <li><a href="">About</a></li> -->
			<li><a href="#contact">Contact</a></li>
			<li><a th:href="@{/profile}">Account</a>
				<ul class="header__menu__dropdown">
					<li><a th:href="@{/edit}">Edit</a></li>
					<li><a th:href="@{/profile}">Profile</a></li>
				</ul></li>

			<li><a th:href="@{/logout}" id="titre_login">Log Out</a></li>
		</ul>
	</nav>
	<div id="mobile-menu-wrap"></div>
	<div class="humberger__menu__contact">

	</div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="header__logo">
					<a th:href="@{/accueil-logged}"><img th:src="@{/img/Image3.png}"
						alt="logo" width="60px" height="60px"></a>
				</div>
			</div>
			<div class="col-lg-8">
				<nav class="header__menu">
					<ul>
						<li class="active"><a th:href="@{/accueil-logged}">Home</a></li>
						<li><a th:href="@{/listbook}">Library</a>
							<ul class="header__menu__dropdown">
								<li><a th:href="@{/addbook}">Add Book</a></li>
								<li><a th:href="@{/listbook}">Your Book</a></li>
							</ul></li>
						<li><a th:href="@{/forum}">Forum</a></li>
						<!--                             <li><a href="">About</a></li> -->
						<li><a href="#contact">Contact</a></li>
						<li><a th:href="@{/profile}">Account</a>
							<ul class="header__menu__dropdown">
								<li><a th:href="@{/edit}">Edit</a></li>
								<li><a th:href="@{/profile}">Profile</a></li>
							</ul></li>
<!-- 						<li><a th:href="@{/image/display/1}">list</a></li>	 -->
					</ul>
				</nav>
			</div>
			<div class="col-lg-2">
				<nav class="header__menu">
					<ul>
						<li><a th:href="@{/logout}" id="titre_login">Log Out</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="humberger__open">
			<i class="fa fa-bars"></i>
		</div>
	</div>
</header>
<!-- Header Section End -->