<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
		<div class="row">
			<div class="col-lg-10 mt-5 mb-5">
				<table class="table">
					<thead>
						<tr>
<!-- 							<th scope="col">photoId</th> -->
							<th scope="col">photo</th>
<!-- 							<th scope="col">photo_role</th> -->
<!-- 							<th scope="col">user_id</th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
<!-- 							<td th:utext="${contentImage.photoId}"></td> -->
<!-- 							<td th:src="@{${'/image/display/' + emp.photoId}}"></td> -->
<!-- 							<td><img width="1000px" height="1000px" src="data:image/jpg;base64,@{${'/image/display/' + emp.photoId}"></td> -->
							<td><img width="100px" height="100px" th:src="'data:image/**;base64,'+${contentImage}"></td>
<!-- 							<td th:utext="${contentImage.photoRole}"></td> -->
<!-- 							<td th:utext="${contentImage.users.userId}"></td> -->
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>