<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style2.css" type="text/css">
    <link rel="stylesheet" href="css/all.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style_photos.css" type="text/css">
</head>

<body>

	<div th:include="head-logged"></div>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__item set-bg" data-setbg="img/livre.jpg">
                        <div class="hero__text">
                            <h2 id="titre_h2">Hello</h2>
                            <h2 id="titre_h2" sec:authentication="principal.username"></h2>
                            
<!--                             <h3 id="accroche">This is your profile page. You can see here all the -->
<!--                                 books you've read and loaned. You cans also see all the informations about yourself</h3> -->
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
       </div>
    </section>
    <!-- Hero Section End -->

    <!-- user page -->
    <div class="main-content">
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">

                <div class="col-xl-8 offset-lg-2">
                    <div class="card bg-secondary shadow" style="background-color: #fff;">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-7">
                                    <h3 class="mb-0" style="color: black;">My account</h3>
                                </div>


                                <div class="col-5 text-right">
                                    <!--  <a href="#!" class="btn btn-sm btn-primary">Update Profile</a> -->
                                    <!-- Trigger/Open The Modal -->
                                    <button class="password-btn" id="myBtn">Edit password</button>
                                    <!-- The Modal -->
                                    <div id="myModal" class="modal">

                                        <!-- Modal content -->
                                        <div class="col-xl-4 offset-lg-4">
                                            <div class="modal-content">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-3 order-lg-2">
                                                        <div class="card-profile-image">
                                                            <a href="#">

                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                                    <div class="d-flex justify-content-between">
                                                        <a href="#"  class="password-btn">Change Password</a>
                                                        <span class="close" sty>&times;</span>
                                                    </div>
                                                </div>
                                                <div class="card-body pt-0 pt-md-4">
                                                    <div class="text-center">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label"
                                                                for="input-username">Password</label>
                                                            <input type="password" id="input-username"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Username" value="#">
                                                        </div>
                                                        <div class="form-group focused">
                                                            <label class="form-control-label" for="input-username">New
                                                                Password</label>
                                                            <input type="password" id="input-username"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Username" value="#">
                                                        </div>
                                                        <div class="form-group focused">
                                                            <label class="form-control-label"
                                                                for="input-username">Confirm New Password</label>
                                                            <input type="password" id="input-username"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Username" value="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/update}" th:object="${user}" method="post">
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
<!--                                         <div class="col-lg-6"> -->
<!--                                             <div class="form-group focused"> -->
<!--                                                 <label class="form-control-label" for="input-username">Username</label> -->
<!--                                                 <input type="text" id="input-username" -->
<!--                                                     class="form-control form-control-alternative"  -->
<!--                                                     th:value="${user.username}" th:field="*{username}"/> -->
<!--                                             </div> -->
<!--                                         </div> -->
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email
                                                    address</label>
                                                <input type="email" id="input-email"
                                                    class="form-control form-control-alternative"
                                                   th:value="${user.email}" th:field="*{email}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-first-name">First
                                                    name</label>
                                                <input type="text" id="input-first-name"
                                                    class="form-control form-control-alternative"
                                                    th:value="${user.firstName}" th:field="*{firstName}"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last-name">Last
                                                    name</label>
                                                <input type="text" id="input-last-name"
                                                    class="form-control form-control-alternative"
                                                    th:value="${user.lastName}" th:field="*{lastName}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Address</label>
                                                <input id="input-address" class="form-control form-control-alternative"
                                                   th:value="${user.address.address}" type="text" th:field="*{address.address}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-city">City</label>
                                                <input type="text" id="input-city"
                                                    class="form-control form-control-alternative" th:value="${user.address.city}" th:field="*{address.city}"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-country">Country</label>
                                                <input type="text" id="input-country"
                                                    class="form-control form-control-alternative" th:value="${user.address.country}" th:field="*{address.country}"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Postal
                                                    code</label>
                                                <input type="number" id="input-postal-code"
                                                    class="form-control form-control-alternative"
                                                    th:value="${user.address.zipCode}" th:field="*{address.zipCode}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                 <hr class="my-4"> -->
                                <div class="col-xl-4 offset-lg-5 my-4">
<!--                                     <a class="password-btn" type="submit">Edit Profile</a> -->
                                    <button id="login" class="password-btn" style="border-color: transparent" type="submit">Edit profile</button>
                                    <a id="login" class="password-btn" style="border-color: transparent" th:href="@{/accueil-logged}">Return</a>  
                                </div>
                            </form>
                                <hr class="my-4">
<!--                                 Description -->
<!--                                 <h6 class="heading-small text-muted mb-4">About me</h6> -->
                                <h6 class="heading-small text-muted mb-4">Add a profile picture</h6>
                                <form th:action="@{/addProfilePhoto}" th:object="${image}" enctype="multipart/form-data"  method="post">
                                <div class="pl-lg-4">
                                    <div class="drop-zone" id="photo1">
                                         <span class="class drop-zone__prompt">Drop file here or click to upload</span>
                                         <input type="file" name="image" class="drop-zone__input" required="required">
                                    </div>
                                </div>
                                <div class="col-xl-4 offset-lg-5">
<!--                                     <a class="password-btn" type="submit">Edit Profile</a> -->
                                    <button id="login" class="password-btn" style="border-color: transparent" type="submit">Add Photo</button>
                                </div>
                                </form>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div class="main-content">
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">

                <div class="col-xl-8 offset-lg-2">
                    <div class="card bg-secondary shadow" style="background-color: #fff;">
                        <div class="card-header bg-white border-0">
                        	
                                <h3 class="mb-0" style="color: black;">Delete your account</h3>
<!--                                 <div class="pl-lg-4"> -->

                                    <div class=" row col-xl-4 offset-lg-5 my-4">
                                    <a id="login" class="password-btn " style="border-color: transparent" th:href="@{/deleteuser}" onclick="return confirm('are you sure ?')">Delete your account</a> 
                                    </div>
<!--                                </div> -->
                        	
                        </div>
                    </div>
               </div>
           </div>   
           </div>
           </div>      

	<div th:include="footer"></div>

    <!-- Js Plugins -->
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/all.js"></script>
    <script src="js/script_photos.js"></script>


</body>

</html>