<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>User Page</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/elegant-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min..css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/slicknav.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/style2.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/all.css}" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style_photos.css}"
	type="text/css">
</head>

<body>

	<div th:include="head-logged"></div>

	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="hero__item set-bg" data-setbg="img/livre.jpg">
						<div class="hero__text">
							<h2 id="titre_h2">Hello</h2>
							<h2 id="titre_h2" sec:authentication="principal.username"></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- user page -->
	<div class="main-content">
		<!-- Page content -->
		<div class="container-fluid mt--7">
			<div class="row">

				<div class="col-xl-8 offset-lg-2">
					<div class="card bg-secondary shadow"
						style="background-color: #fff;">
						<div class="card-header bg-white border-0">
							<div class="row align-items-center">
								<div class="col-7">
									<h3 class="mb-0" style="color: black;">My account</h3>
								</div>																

						<div class="card-body">
							<h6 class="heading-small text-muted mb-4 offset-lg-0">Edit password</h6>
						<form th:action="@{/changepassword}" method="post"
							style="max-width: 350px; margin: 0 auto">
<!-- 							<div class="border border-secondary rounded p-3"> -->
								<div class="m-3" th:if="${message != null} ">
									<p class="text-danger" th:text="${message}"></p>
								</div>
								<div>
									<p>
										<input type="password" name="oldPassword" class="form-control" 
											placeholder="Old Password" required autofocus />
									</p>
									<p>
										<input type="password" name="newPassword" id="newPassword"
											class="form-control" placeholder="New password" required />
									</p>
									<p>
										<input type="password" class="form-control"
											placeholder="Confirm new password" required
											oninput="checkPasswordMatch(this);" />
									</p>
									<p class="text-center">
										<input type="submit" value="Change Password"
											class="btn password-btn" />
									</p>
								</div>
<!-- 							</div> -->
						</form>
						<hr class="my-4">
							<form th:action="@{/update}" th:object="${user}" method="post">
								<h6 class="heading-small text-muted mb-4">User information</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label" for="input-email">Email
													address</label> <input type="email" id="input-email"
													class="form-control form-control-alternative"
													th:value="${user.email}" th:field="*{email}"
													required="required" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-first-name">First
													name</label> <input type="text" id="input-first-name"
													class="form-control form-control-alternative"
													th:value="${user.firstName}" th:field="*{firstName}"
													required="required" />
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-last-name">Last
													name</label> <input type="text" id="input-last-name"
													class="form-control form-control-alternative"
													th:value="${user.lastName}" th:field="*{lastName}"
													required="required" />
											</div>
										</div>
									</div>
								</div>
								<hr class="my-4">
								<!-- Address -->
								<h6 class="heading-small text-muted mb-4">Contact
									information</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group focused">
												<label class="form-control-label" for="input-address">Address</label>
												<input id="input-address"
													class="form-control form-control-alternative"
													th:value="${user.address.address}" type="text"
													th:field="*{address.address}" required="required" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group focused">
												<label class="form-control-label" for="input-city">City</label>
												<input type="text" id="input-city"
													class="form-control form-control-alternative"
													th:value="${user.address.city}" th:field="*{address.city}"
													required="required" />
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group focused">
												<label class="form-control-label" for="input-country">Country</label>
												<input type="text" id="input-country"
													class="form-control form-control-alternative"
													th:value="${user.address.country}"
													th:field="*{address.country}" required="required" />
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-country">Postal
													code</label> <input type="number" id="input-postal-code"
													class="form-control form-control-alternative"
													th:value="${user.address.zipCode}"
													th:field="*{address.zipCode}" required="required" />
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 offset-lg-5 my-4">
									<button id="login" class="password-btn"
										style="border-color: transparent" type="submit">Edit
										profile</button>
									<a id="login" class="password-btn"
										style="border-color: transparent" th:href="@{/accueil-logged}">Return</a>
								</div>
							</form>
							<hr class="my-4">
							<!--                                 Description -->
							<h6 class="heading-small text-muted mb-4">Add a profile
								picture</h6>
							<form th:action="@{/editProfilePhoto}" th:object="${image}"
								enctype="multipart/form-data" method="post">
								<div class="pl-lg-4">
									<div class="drop-zone" id="photo1">
										<span class="class drop-zone__prompt">Drop file here or
											click to upload</span> <input type="file" name="image"
											class="drop-zone__input" required="required">
									</div>
								</div>
								<div class="col-xl-4 offset-lg-5">
									<button id="login" class="password-btn"
										style="border-color: transparent" type="submit">Add
										Photo</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>

	<div class="main-content">
		<!-- Page content -->
		<div class="container-fluid mt--7">
			<div class="row">

				<div class="col-xl-8 offset-lg-2">
					<div class="card bg-secondary shadow"
						style="background-color: #fff;">
						<div class="card-header bg-white border-0">

							<h3 class="mb-0" style="color: black;">Delete your account</h3>
							<!--                                 <div class="pl-lg-4"> -->

							<div class=" row col-xl-4 offset-lg-5 my-4">
								<a id="login" class="password-btn "
									style="border-color: transparent" th:href="@{/deleteuser}"
									onclick="return confirm('are you sure ?')">Delete your
									account</a>
							</div>
							<!--                                </div> -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="footer"></div>

	<!-- Js Plugins -->
	<script>
		// Get the modal
		var modal = document.getElementById("myModal");

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
			modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
	
	<script>
	function checkPasswordMatch(fieldConfirmPassword) {
	    if (fieldConfirmPassword.value != $("#newPassword").val()) {
	        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
	    } else {
	        fieldConfirmPassword.setCustomValidity("");
	    }
	}
	</script>
	
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/all.js}"></script>
	<script th:src="@{/js/script_photos.js}"></script>


</body>

</html>