<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Css Styles -->
      <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
      <link rel="stylesheet" href="css/nice-select.css" type="text/css">
      <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
      <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
      <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
      <link rel="stylesheet" href="css/style2.css" type="text/css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
      <link rel="stylesheet" href="css/paymentpage.css" type="text/css"  >
      <link rel="stylesheet" href="css/all.css" type="text/css">
      <title>PayPal Payment Page</title>

</head>

  

<body>

	<div th:include="head-logged"></div>
    
    <div class="col-lg-8" style="margin: auto;">
        <div class="card p-3">
            
            <div class="card-body border p-0" >
                <p> <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample" id="CreditCard"> 
                    <span class="fw-bold" >Paypal</span> <i class="fa-brands fa-paypal fa-2x" aria-hidden="true" style="color: black;"></i>
                </a> </p>

                <div class="collapse show p-3 pt-0" id="collapseExample">
                    <div class="row">
                        <div class="col-lg-5 mb-lg-0 mb-3">
                            <p class="h4 mb-0" style="color: black">Connect with your Paypal Account to pay</p>
                        
                        </div>
                        <div class="col-lg-7">
                            <form action="" class="form">
                                <div class="row">

                                    <div class="col-12">
                                        <div class="form__div"> <input type="email"  class="form-control" placeholder=" "required> <label for="" class="form__label">E-mail</label> </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form__div"> <input type="password" class="form-control" placeholder=" "required> <label for="" class="form__label">Password</label> </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="btn btn-primary w-100" id="Submit" ><a th:href="@{/paymentconfirmed}" style="color: black;">Submit</a></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div th:include="footer"></div>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/all.js"></script>
    
</body>


</html>