<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style2.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/profilepage.css" type="text/css">
    <link rel="stylesheet" href="css/all.css" type="text/css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

	<div th:include="head-logged"></div>

    <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0 offset-lg-3">
        <div class="card py-4 h-100">
            <div class="card-body text-center">
                <div class="container" id="container">
                    <!-- Profile widget -->
                    <div class="bg-white shadow rounded overflow-hidden">
                        <div class="px-4 pt-0 pb-4 cover">
                            <div class="media align-items-end profile-head">
                                <div class="profile mb-5">
<!--                                 <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" -->
<!--                                         alt="..." width="130" class="rounded mb-2 img-thumbnail"> -->
<!--                                 <img th:src="'data:image/**;base64,'+${contentImage}" -->
<!--                                         alt="..." width="130" class="rounded mb-2 img-thumbnail"> -->
                                <img th:src="@{|/showProf|}"
                                        alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                        
                                        <h4 class="" th:utext="${username}">Username</h4>
                                    <p class="" th:utext="${city}"> <i class="fa fa-map-marker-alt mr-2" ></i>City</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <!-- <div class="bg-light p-4 d-flex justify-content-end text-center">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <h5 class="" class=""style="color:#000000" ><span class="material-icons">
                                        local_shipping</span>Books for rent</h5>
                                </li>
                                <li class="list-inline-item">
                                    <h5 class="" class=""style="color:#000000" ><span class="material-icons">
                                        local_shipping</span>Borrowed books</h5>
                                </li>
                            </ul>
                        </div> -->
                        <div class="px-4 py-3">
                          
                            <div class="p-4 rounded shadow-sm bg-light">
                                <div class="rating">
                                    <div class="stars"style="text-align: center">
                                        <i class="fa fa-star gold"></i>
                                        <i class="fa fa-star gold"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div style="text-align: center;">
                                    <a href="#">Voir les avis</a>
                                    </div>  
                                </div>
                            </div>
                        </div>

                        <div class="py-4 px-4">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h5 class="mb-0" style="color: black;">Books for rent</h5><a href="#" class="btn btn-link text-muted">Show
                                    all</a>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-2 pr-lg-1"><img
                                        src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                        alt="" class="img-fluid rounded shadow-sm"></div>
                                <div class="col-lg-6 mb-2 pl-lg-1"><img
                                        src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                        alt="" class="img-fluid rounded shadow-sm"></div>
                                <div class="col-lg-6 pr-lg-1 mb-2"><img
                                        src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                        alt="" class="img-fluid rounded shadow-sm"></div>
                                <div class="col-lg-6 pl-lg-1"><img
                                        src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                        alt="" class="img-fluid rounded shadow-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            
	<div th:include="footer"></div>

    <!-- Js Plugins -->
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/all.js"></script>


</body>

</html>