<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Ogani Template">
	<meta name="keywords" content="Ogani, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SignUp</title>
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

	<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min..css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/style2.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/all.css}" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a th:href="@{/}" ><img src="img/logo_fondblanc.png" alt="logo" width="60px" height="60px"></a>
		</div>
		<div class="humberger__menu__cart">
			<!-- <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div> -->
		</div>
		<div class="humberger__menu__widget">
			<div class="header__top__right__language">
				<!-- <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul> -->
			</div>
			<!-- <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div> -->
		</div>
		<nav class="humberger__menu__nav mobile-menu" style="text-align:right">
			<ul>
<!-- 				<li class="active"><a th:href="@{/}" >Home</a></li> -->
<!-- 				<li><a href="./contact.html">Contact</a></li> -->
				<li><a th:href="@{/login}">Login / Sign Up</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<!-- <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div> -->
		<div class="humberger__menu__contact">
			<!-- <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul> -->
		</div>
	</div>
	<!-- Humberger End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a th:href="@{/}" ><img src="img/Image3.png" alt="logo" width="60px" height="60px"></a>
					</div>
				</div>
				<div class="col-lg-9" style="text-align:right">
					<nav class="header__menu">
						<ul>
<!-- 							<li class="active"><a th:href="@{/}" >Home</a></li> -->
<!-- 							<li><a href="./contact.html">Contact</a></li> -->
							<li><a th:href="@{/login}">Login / Sign Up</a></li>
						</ul>
					</nav>
				</div>
<!-- 				<div class="col-lg-3">
					<nav class="header__menu">
						<ul>
							<li><a href="" id="titre_login">Login / Sign Up</a></li>
						</ul>
					</nav>
				</div> -->
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 offset-lg-4">
		<div class="card py-4 h-100">
			<div class="card-body text-center">
				<div class="container" id="container">
<!-- 					<form th:action="@{/add}" method="post"> -->
<!-- 						<h1 style="color: black;">Create Account</h1> -->
<!-- 						<div class="social-container"> -->
<!-- 							<a href="#" class="social"><i class="fa-brands fa-facebook-f" style="color: #EDBB0E;font-size:30px"></i></a> -->
<!-- 							<a href="#" class="social"><i class="fa-brands fa-google-plus-g" style="color: #EDBB0E;font-size:30px"></i></a> -->
<!-- 							<a href="#" class="social"><i class="fa-brands fa-linkedin-in" style="color: #EDBB0E;font-size:30px"></i></a> -->
<!-- 						</div> -->
<!-- 						<span>or use your email for registration</span> -->
<!-- 						<input type="email" placeholder="Email" th:name="*{email}" /> -->
<!-- 						<input type="text" placeholder="Username" th:name="*{username}"/> -->
<!-- 						<input type="text" placeholder="First Name" th:name="*{firstName}"/> -->
<!-- 						<input type="text" placeholder="Last Name" th:name="*{lastName}"/> -->
<!-- 						<input type="text" placeholder="Address" th:name="*{address}"/> -->
<!-- 						<input type="text" placeholder="City" th:name="*{city}"/> -->
<!-- 						<input type="text" placeholder="Country" th:name="*{country}"/> -->
<!-- 						<input type="text" placeholder="Zip Code" th:name="*{zipCode}"/> -->
<!-- 						<input type="password" placeholder="Password" th:name="*{password}"/> -->
<!-- 						<div> -->
<!-- 							<button id="login" type="submit">Sign Up</button> -->
<!-- 							<button id="login" type = "button" value = "Retour"  onclick = "history.go(-1)">Return</button> -->
<!-- 						</div> -->
<!-- 					</form> -->
					<form th:action="@{/add}" th:object="${user}" method="post">
						<h1 style="color: black;">Create Account</h1>
						<div class="social-container">
							<a href="#" class="social"><i class="fa-brands fa-facebook-f" style="color: #EDBB0E;font-size:30px"></i></a>
							<a href="#" class="social"><i class="fa-brands fa-google-plus-g" style="color: #EDBB0E;font-size:30px"></i></a>
							<a href="#" class="social"><i class="fa-brands fa-linkedin-in" style="color: #EDBB0E;font-size:30px"></i></a>
						</div>
						<span>or use your email for registration</span>
						<input th:type="email" placeholder="Email" th:field="*{email}" />
						<input type="text" placeholder="Username" th:field="*{username}"/>
						<input type="text" placeholder="First Name" th:field="*{firstName}"/>
						<input type="text" placeholder="Last Name" th:field="*{lastName}"/>
						<input type="text" placeholder="Address" th:field="*{address.address}"/>
						<input type="text" placeholder="City" th:field="*{address.city}"/>
						<input type="text" placeholder="Country" th:field="*{address.country}"/>
						<input type="text" placeholder="Zip Code" th:field="*{address.zipCode}"/> 
						<input type="password" placeholder="Password" th:field="*{password}"/>
<!-- 						<input type="text" placeholder="Role" th:field="*{usersRoles.userId}" /> -->
<!-- 						<input type="text" placeholder="Role" th:field="*{usersRoles.userRole}" /> -->
						<div>
							<button id="login" type="submit">Sign Up</button>
							<button id="login" type = "button" value = "Retour"  onclick = "history.go(-1)">Return</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div th:include="footer"></div>


	<!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/all.js}"></script>


</body>

</html>