<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>SignUp</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/elegant-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min..css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/slicknav.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/css/style2.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/all.css}" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Humberger Begin -->
	<div class="humberger__menu__overlay"></div>
	<div class="humberger__menu__wrapper">
		<div class="humberger__menu__logo">
			<a th:href="@{/}"><img src="img/logo_fondblanc.png" alt="logo"
				width="60px" height="60px"></a>
		</div>
		<nav class="humberger__menu__nav mobile-menu"
			style="text-align: right">
			<ul>
				<li><a th:href="@{/login}">Login / Sign Up</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<div class="humberger__menu__contact"></div>
	</div>
	<!-- Humberger End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a th:href="@{/}"><img src="img/Image3.png" alt="logo"
							width="60px" height="60px"></a>
					</div>
				</div>
				<div class="col-lg-9" style="text-align: right">
					<nav class="header__menu">
						<ul>
							<li><a th:href="@{/login}">Login / Sign Up</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 offset-lg-4">
		<div class="card py-4 h-100">
			<div class="card-body text-center">
				<div class="container" id="container">
					<form th:action="@{/add}" th:object="${user}" method="post">
						<h1 style="color: black;">Create Account</h1>
						<div class="social-container">
							<a href="#" class="social"><i class="fa-brands fa-facebook-f"
								style="color: #EDBB0E; font-size: 30px"></i></a> <a href="#"
								class="social"><i class="fa-brands fa-google-plus-g"
								style="color: #EDBB0E; font-size: 30px"></i></a> <a href="#"
								class="social"><i class="fa-brands fa-linkedin-in"
								style="color: #EDBB0E; font-size: 30px"></i></a>
						</div>
						<span>or use your email for registration</span> <input
							th:type="email" placeholder="Email" th:field="*{email}"
							required="required" /> <input type="text" placeholder="Username"
							th:field="*{username}" required="required" /> <input type="text"
							placeholder="First Name" th:field="*{firstName}"
							required="required" /> <input type="text"
							placeholder="Last Name" th:field="*{lastName}"
							required="required" /> <input type="text" placeholder="Address"
							th:field="*{address.address}" required="required" /> <input
							type="text" placeholder="City" th:field="*{address.city}"
							required="required" /> <input type="text" placeholder="Country"
							th:field="*{address.country}" required="required" /> <input
							type="text" placeholder="Zip Code" th:field="*{address.zipCode}"
							required="required" /> <input type="password"
							placeholder="Password" th:field="*{password}" required="required" />
						<div>
							<button id="login" type="submit">Sign Up</button>
							<button id="login" type="button" value="Retour"
								onclick="history.go(-1)">Return</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div th:include="footer"></div>


	<!-- Js Plugins -->
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/all.js}"></script>


</body>

</html>